<% if @comment.errors.any? %>
  <% @comment.errors.full_messages.each do |msg| %>
    <%= msg %><br>
  <% end %>
<% end %>

<div class="ui form segment" >
<%= form_for(@comment, url: create_comment_path, id: 'new_comment') do |f| %>
  <div class="field">
    <%= f.label 'Add your thoughts' %>
  </div>
  <%= f.text_field :content %>
  <%= f.hidden_field :post_id, value: params[:id].to_i %>
  <%= f.hidden_field :datetime, value:  DateTime.now %>
  <%= hidden_field_tag :id, params[:id] %>
  <div class="actions"><div class='new_comment'><br>
    <%= f.submit class: 'ui green submit button' %></div></div>
<% end %> 
</div