<div class="form-container">
<div class='ui error form segment'>
  <% if @event.errors.any? %>
    <div class='ui error message'>
      <div class='header'>Oops!</div>
      <% @event.errors.full_messages.each do |msg| %>
        <%= msg %><br>
      <% end %>
    </div>
  <% end %>

  <div class="form">
    <%= form_tag(url: create_event_path, id: 'new_event') do %>
      <div class="label" class="field">
        <%= label_tag 'Add an event to the calendar' %>
      </div>
      <div class="field">
        <%= label_tag :title %>
        <%= text_field_tag :title %>
      </div>
      <div class="field">
        <%= label_tag :start_time %>   
        <%= datetime_select :start_time, :time, ampm: true, :order => [:day, :month, :year], default: Time.now %>
      </div>
      <div class="field">
        <%= label_tag :end_time %>
        <%= datetime_select :end_time, :time, ampm: true, :order => [:day, :month, :year], default: Time.now %>
      </div>
      <div class="field">
        <%= label_tag 'Description' %>
        <%= text_area_tag :content %>
      </div>
      <div class="field">
        <%= label_tag 'Location' %>
        <%= text_field_tag :where %>
      </div>

      <div class="actions"><div class='new_comment' class="field"><%= submit_tag "Submit", class: 'ui green submit button' %></div></div>
    <% end %> 
  </div>
</div>
</div>